* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

body {
  background-color: #121212;
}

html {
  scroll-behavior: smooth;
}

.nav-bar {
  background-color: #121212;
}

.link-container a {
  color: #f1f1f1;
  text-decoration: none;
  padding: 0 10px !important;
}

.toggle-box {
  border: 0.5px solid #f1f1f1;
  border-radius: 4px;
  display: none;
}

.toggle-box i {
  color: #f1f1f1;
}

.side-nav {
  background-color: #121212ec;
  max-width: 270px;
  min-width: 270px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100vh;
  /* display: none; */
  left: -100%;
  opacity: 0;
}

.mobile-link a {
  color: #f1f1f1;
  text-decoration: none;
  padding: 0 10px !important;
  margin-bottom: 10px !important;
}

.close-box {
  position: absolute;
  right: 20px;
  top: 10px;
}

.close-box i {
  color: #f1f1f1;
}

.main-container {
  background-color: #121212;
}

.image-container {
  width: 700px;
  height: 500px;
  position: relative;
  cursor: pointer;
}

.image-container .download-icon {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 15px 20px !important;
  top: 0;
  right: 0;
  display: none;
  transition: all 0.3s ease;
}

.image-container:hover .download-icon {
  display: block;
}

.image-container .download-icon a {
  color: #f1f1f1;
}

.image-container .download-icon:active {
  transform: scale(0.9);
}

.image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.dummy-container {
  width: 150px;
  height: 150px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-bottom: 30px !important;
}

.dummy-container:hover {
  box-shadow: 5px 5px 10px #ffffff36;
}

.dummy-container:active {
  transform: scale(0.95);
}

.dummy-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(80%);
}

.Allquestions p {
  color: #f1f1f1;
  border-bottom: 2px solid rgba(255, 255, 255, 0.288);
}

.ques {
  color: #f1f1f1;
}

.scrollques {
  cursor: pointer;
}

.scrollans {
  color: #f1f1f1;
  display: none;
}

.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #353535;
  height: 40px;
  width: 40px;
  display: none;
}

.scroll-top > div {
  height: 100%;
  width: 100%;
}

.scroll-top i {
  color: #f1f1f1;
}

.count p {
  color: #f1f1f1;
}

.faq-container h1 {
  color: #f1f1f1;
  font-size: 22px;
  position: relative;
  display: inline-block;
}

.faq-container h1::after {
  content: "";
  position: absolute;
  background-color: #f1f1f1;
  width: 30%;
  height: 2px;
  bottom: -5px;
  left: 0;
}

.faq-container h1::before {
  content: "";
  position: absolute;
  background-color: #f1f1f1;
  width: 50%;
  height: 2px;
  bottom: -12px;
  left: 0;
}

.faq-container .faq-box .question-box {
  background-color: #181818;
  cursor: pointer;
  border-radius: 10px 10px 0 0;
  position: relative;
  padding-left: 40px !important;
}

.faq-container .faq-box .question-box .pointer-icon {
  color: #f1f1f1;
  position: absolute;
  left: 10px;
}

.faq-container .faq-box .question-box .pointer-icon.rotate {
  transform: rotate(90deg);
}

.faq-container .faq-box .question-box p {
  color: #f1f1f1;
  font-weight: bold;
  font-size: 14px;
}

.faq-container .faq-box .answer-box {
  background-color: #181818;
  cursor: pointer;
  border-radius: 0 0 10px 10px;
  border-top: 1px solid #494949;
}

.faq-container .faq-box .answer-box p {
  color: #e6e1e1;
  font-size: 12px;
}

.rectangle {
  height: 250px;
  width: 250px;
  border-top: 30px solid tomato;
  border-right: 30px solid rgb(0, 255, 179);
  border-bottom: 30px solid rgb(255, 255, 0);
  border-left: 30px solid rgb(51, 100, 236);
  transform: rotate(45deg);
}

.rectangle p {
  font-weight: bold;
  color: #f1f1f1;
  font-size: 30px;
  transform: rotate(-45deg);
}

.circle {
  height: 400px;
  width: 400px;
  border: 2px solid #f1f1f1;
  border-radius: 50%;
  position: relative;
}

.circle h1 {
  color: #f1f1f1;
  font-size: 30px;
}

.circle .inner-circle {
  height: 80px;
  width: 80px;
  border: 1.5px solid #f1f1f1;
  border-radius: 50%;
  position: absolute;
  background-color: #121212;
}

.circle .inner-circle p {
  color: #f1f1f1;
  font-size: 14px;
  font-style: italic;
}

.circle .inner-circle.cir-1,
.circle .inner-circle.cir-2,
.circle .inner-circle.cir-3 {
  top: 0;
}

.circle .inner-circle.cir-4,
.circle .inner-circle.cir-5 {
  bottom: 0;
}

.circle .inner-circle.cir-1 {
  left: -30px;
  top: 100px;
}

.circle .inner-circle.cir-2 {
  top: -40px;
}

.circle .inner-circle.cir-3 {
  right: -30px;
  top: 100px;
}

.circle .inner-circle.cir-4 {
  right: 0;
  bottom: 35px;
}

.circle .inner-circle.cir-5 {
  left: 0;
  bottom: 35px;
}

.animation-container {
  position: relative;
}

.animation-container img {
  position: absolute;
  top: 0;
  right: 0;
  height: 200px;
}

.animation-container {
  min-height: 200px;
}

@media (max-width: 767px) {
  .link-container,
  .logo-container {
    display: none;
  }
  .toggle-box {
    display: block;
  }
}
